<h1>Name: @Model.Name</h1></a>

<p>ID: @Model.AnimalId</p>
<p>Species: @Model.Species</p>
<p>Age: @Model.Age</p>
<p>Gender: @Model.Gender</p>

<a href="/Animals"><p>All Animals</p></a>
<a href="/Animals/Edit/@(Model.AnimalId)"><p>Edit</p></a>
<a href="/Animals/Delete/@(Model.AnimalId)"><p>Delete</p></a>